In [473]:
# importing libraries

In [474]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [475]:
# Loading dataset

In [476]:
# Training dataset

In [477]:
df = pd.read_excel(r"C:\Users\apple\Downloads\New folder\Data_Train.xlsx")

In [478]:
df.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300

In [479]:
df.shape

(12690, 9)

In [480]:
# Loading test dataset

In [481]:
df_test = pd.read_excel(r"C:\Users\apple\Downloads\New folder\Data_Test.xlsx")

In [482]:
df_test.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [483]:
df_test.shape

(4231, 8)

In [484]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12690 entries, 0 to 12689
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          12690 non-null  object
 1   RESTAURANT_ID  12690 non-null  int64
 2   CUISINES       12690 non-null  object
 3   TIME           12690 non-null  object
 4   CITY           12578 non-null  object
 5   LOCALITY       12592 non-null  object
 6   RATING         12688 non-null  object
 7   VOTES          11486 non-null  object
 8   COST           12690 non-null  int64
dtypes: int64(2), object(7)
memory usage: 892.4+ KB

In [485]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4231 entries, 0 to 4230
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          4231 non-null   object
 1   RESTAURANT_ID  4231 non-null   int64
 2   CUISINES       4231 non-null   object
 3   TIME           4231 non-null   object
 4   CITY           4196 non-null   object
 5   LOCALITY       4201 non-null   object
 6   RATING         4229 non-null   object
 7   VOTES          3829 non-null   object
dtypes: int64(1), object(7)
memory usage: 264.6+ KB

In [486]:
df['TITLE'].unique()

array(['CASUAL DINING', 'CASUAL DINING,BAR', 'QUICK BITES',
       'DESSERT PARLOR', 'CAFÉ', 'MICROBREWERY',
       'QUICK BITES,BEVERAGE SHOP', 'CASUAL DINING,IRANI CAFE',
       'BAKERY,QUICK BITES', 'None', 'BAR,CASUAL DINING', 'BAR', 'PUB',
       'BEVERAGE SHOP', 'FINE DINING', 'CAFÉ,QUICK BITES',
       'BEVERAGE SHOP,DESSERT PARLOR', 'SWEET SHOP,QUICK BITES',
       'DESSERT PARLOR,SWEET SHOP', 'BAKERY', 'BAKERY,DESSERT PARLOR',
       'BAR,LOUNGE', 'FOOD COURT', 'LOUNGE',
       'DESSERT PARLOR,BEVERAGE SHOP', 'LOUNGE,CASUAL DINING',
       'FOOD TRUCK', 'QUICK BITES,FOOD COURT', 'SWEET SHOP',
       'BEVERAGE SHOP,FOOD COURT', 'PUB,CASUAL DINING', 'MESS',
       'MICROBREWERY,CASUAL DINING', 'CASUAL DINING,SWEET SHOP', 'KIOSK',
       'QUICK BITES,KIOSK', 'CLUB', 'FINE DINING,BAR',
       'DESSERT PARLOR,QUICK BITES', 'FOOD COURT,QUICK BITES',
       'LOUNGE,CAFÉ', 'BAKERY,CONFECTIONERY', 'CASUAL DINING,CAFÉ',
       'DHABA', 'CAFÉ,DESSERT PARLOR', 'QUICK BITES,DESSERT PARLOR',
       'PUB,MICROBREWERY', 'LOUNGE,BAR', 'DESSERT PARLOR,CAFÉ',
       'CAFÉ,BAR', 'SWEET SHOP,CONFECTIONERY', 'CASUAL DINING,PUB',
       'MICROBREWERY,BAR', 'DESSERT PARLOR,BAKERY',
       'QUICK BITES,SWEET SHOP', 'BEVERAGE SHOP,QUICK BITES',
       'CASUAL DINING,LOUNGE', 'CASUAL DINING,CLUB', 'QUICK BITES,CAFÉ',
       'BAR,CAFÉ', 'CAFÉ,CASUAL DINING', 'QUICK BITES,CASUAL DINING',
       'CASUAL DINING,MICROBREWERY', 'CASUAL DINING,BAKERY',
       'CAFÉ,BAKERY', 'MEAT SHOP', 'QUICK BITES,BAKERY',
       'BAR,FINE DINING', 'SWEET SHOP,CASUAL DINING',
       'MEAT SHOP,QUICK BITES', 'PUB,LOUNGE', 'BAKERY,CAFÉ',
       'COCKTAIL BAR', 'FINE DINING,LOUNGE', 'CONFECTIONERY',
       'QUICK BITES,BAR', 'BAKERY,FOOD COURT', 'PUB,BAR',
       'DESSERT PARLOR,FOOD COURT', 'QUICK BITES,FOOD TRUCK',
       'BAKERY,BEVERAGE SHOP', 'CLUB,BAR', 'BAKERY,SWEET SHOP',
       'SWEET SHOP,BAKERY', 'CASUAL DINING,FOOD COURT', 'PAAN SHOP',
       'BEVERAGE SHOP,CAFÉ', 'FOOD COURT,DESSERT PARLOR',
       'CLUB,MICROBREWERY', 'CAFÉ,BEVERAGE SHOP',
       'DESSERT PARLOR,PAAN SHOP', 'MICROBREWERY,LOUNGE', 'LOUNGE,CLUB',
       'SWEET SHOP,DESSERT PARLOR', 'BAR,PUB',
       'CONFECTIONERY,QUICK BITES', 'DESSERT PARLOR,KIOSK', 'LOUNGE,PUB',
       'SWEET SHOP,BEVERAGE SHOP', 'FINE DINING,CAFÉ',
       'BEVERAGE SHOP,CASUAL DINING', 'KIOSK,QUICK BITES',
       'CASUAL DINING,DESSERT PARLOR', 'LOUNGE,FINE DINING', 'PUB,CAFÉ',
       'CAFÉ,LOUNGE', 'BAR,CLUB', 'COCKTAIL BAR,CASUAL DINING',
       'MICROBREWERY,PUB', 'CAFÉ,FINE DINING', 'KIOSK,FOOD COURT',
       'LOUNGE,MICROBREWERY', 'BAR,MICROBREWERY'], dtype=object)

In [487]:
# There are too many Unique columns in TITLES.

In [488]:
df_test['TITLE'].unique()

array(['CASUAL DINING', 'QUICK BITES', 'None',
       'FOOD TRUCK,DESSERT PARLOR', 'DESSERT PARLOR,QUICK BITES',
       'CASUAL DINING,BAR', 'LOUNGE', 'BEVERAGE SHOP',
       'CASUAL DINING,PUB', 'DESSERT PARLOR', 'PUB', 'CAFÉ', 'BAKERY',
       'LOUNGE,BAR', 'BAKERY,QUICK BITES', 'SWEET SHOP',
       'SWEET SHOP,QUICK BITES', 'BEVERAGE SHOP,QUICK BITES',
       'CAFÉ,QUICK BITES', 'DHABA', 'QUICK BITES,DESSERT PARLOR',
       'FINE DINING', 'IRANI CAFE,BAKERY', 'PUB,CASUAL DINING',
       'BAKERY,CASUAL DINING', 'BAR', 'FOOD COURT',
       'QUICK BITES,SWEET SHOP', 'CAFÉ,BAR', 'BAR,PUB',
       'BAKERY,DESSERT PARLOR', 'KIOSK', 'CAFÉ,BAKERY',
       'CASUAL DINING,BAKERY', 'BAKERY,CAFÉ', 'CASUAL DINING,CAFÉ',
       'QUICK BITES,CAFÉ', 'MESS', 'BAR,CASUAL DINING',
       'BEVERAGE SHOP,CAFÉ', 'BEVERAGE SHOP,DESSERT PARLOR',
       'PUB,FINE DINING', 'CASUAL DINING,FOOD COURT',
       'CAFÉ,CASUAL DINING', 'LOUNGE,CASUAL DINING',
       'DESSERT PARLOR,CAFÉ', 'FINE DINING,BAR',
       'CASUAL DINING,SWEET SHOP', 'LOUNGE,FINE DINING',
       'MICROBREWERY,PUB', 'FOOD TRUCK', 'CASUAL DINING,MICROBREWERY',
       'CLUB', 'CAFÉ,FOOD COURT', 'CAFÉ,DESSERT PARLOR',
       'MICROBREWERY,CASUAL DINING', 'DESSERT PARLOR,BAKERY',
       'QUICK BITES,BAKERY', 'QUICK BITES,BEVERAGE SHOP',
       'FINE DINING,MICROBREWERY', 'CASUAL DINING,LOUNGE',
       'CLUB,FINE DINING', 'PUB,MICROBREWERY',
       'SWEET SHOP,DESSERT PARLOR', 'COCKTAIL BAR,CASUAL DINING',
       'DESSERT PARLOR,BEVERAGE SHOP', 'FOOD COURT,QUICK BITES',
       'LOUNGE,CLUB', 'MICROBREWERY', 'DESSERT PARLOR,FOOD COURT',
       'PUB,BAR', 'BAKERY,BEVERAGE SHOP', 'QUICK BITES,MEAT SHOP',
       'CAFÉ,LOUNGE', 'FINE DINING,LOUNGE', 'CONFECTIONERY', 'PAAN SHOP',
       'CLUB,CASUAL DINING', 'FINE DINING,CAFÉ', 'PUB,LOUNGE', 'PUB,CAFÉ',
       'BAR,LOUNGE', 'QUICK BITES,CASUAL DINING',
       'CASUAL DINING,IRANI CAFE', 'CLUB,BAR', 'BHOJANALYA'], dtype=object)

In [489]:
# There are many such titles declared just because of different writing different notions.So we will combine them.

In [490]:
# Binning CASUAL DINING 
dining_title = df[df.TITLE.str.contains('DINING')].TITLE.value_counts().index
# mapper
df.TITLE.replace(to_replace=dining_title,value='CASUAL DINING',inplace=True)
#Binning CAFE ---!>
cafe_title = df[df.TITLE.str.contains('CAF')].TITLE.value_counts().index
# mapper
df.TITLE.replace(to_replace=cafe_title,value='CAFE',inplace=True)
#Binning QUICK BITES---!>
quick_bites_title = df[df.TITLE.str.contains('BITES')].TITLE.value_counts().index
# mapper
df.TITLE.replace(to_replace=quick_bites_title,value='QUICK BITES',inplace=True)
#Binning DESSERT PARLOUR ---!>
dessert_title = df[df.TITLE.str.contains('DESSERT')].TITLE.value_counts().index
# mapper
df.TITLE.replace(to_replace=dessert_title,value='DESSERT PARLOUR',inplace=True)
#Binning BEVERAGE SHOP ---!>
bev_title = df[df.TITLE.str.contains('BEVERAGE')].TITLE.value_counts().index
# mapper
df.TITLE.replace(to_replace=bev_title,value='BEVERAGE SHOP',inplace=True)

In [491]:
#Binning BAR and PUB ---!>
bar_title = df[df.TITLE.str.contains('BAR|PUB')].TITLE.value_counts().index
# mapper
df.TITLE.replace(to_replace=bar_title,value='BAR_PUB',inplace=True)
#Binning BAKERY and CONFECTIONARY and SWEET SHOP ---!>
bakery_title = df[df.TITLE.str.contains('BAKERY|CONFECTIONERY|SWEET SHOP')].TITLE.value_counts().index
# mapper
df.TITLE.replace(to_replace=bakery_title,value='BAKERY_SWEETS',inplace=True)
#Binning MICROBRWERY, LOUNGE and CLUBS ---!>
lounge_title = df[df.TITLE.str.contains('MICROBREWERY|LOUNGE|CLUB')].TITLE.value_counts().index
# mapper
df.TITLE.replace(to_replace=lounge_title,value='LOUNGE_CLUB_MICROBREWERY',inplace=True)
#Binning FOOD COURT, FOOD TRUCK and KIOSK ---!>
food_court_title = df[df.TITLE.str.contains('FOOD COURT|FOOD TRUCK|KIOSK')].TITLE.value_counts().index
# mapper
df.TITLE.replace(to_replace=food_court_title,value='FOOD_COURT_TRUCK',inplace=True)
#Binning DHABA and MESS ---!>
dhaba_title = df[df.TITLE.str.contains('MESS|DHABA|BHOJANALYA')].TITLE.value_counts().index
# mapper
df.TITLE.replace(to_replace=dhaba_title,value='DHABA_MESS',inplace=True)
#Binning PAAN and MEAT SHOP ---!>
paan_title = df[df.TITLE.str.contains('PAAN')].TITLE.value_counts().index
# mapper
df.TITLE.replace(to_replace=paan_title,value='FOOD_COURT_TRUCK',inplace=True)

In [492]:
# Binning CASUAL DINING 
dining_title = df_test[df_test.TITLE.str.contains('DINING')].TITLE.value_counts().index
# mapper
df_test.TITLE.replace(to_replace=dining_title,value='CASUAL DINING',inplace=True)
#Binning CAFE ---!>
cafe_title = df_test[df_test.TITLE.str.contains('CAF')].TITLE.value_counts().index
# mapper
df_test.TITLE.replace(to_replace=cafe_title,value='CAFE',inplace=True)
#Binning QUICK BITES---!>
quick_bites_title = df_test[df_test.TITLE.str.contains('BITES')].TITLE.value_counts().index
# mapper
df_test.TITLE.replace(to_replace=quick_bites_title,value='QUICK BITES',inplace=True)
#Binning DESSERT PARLOUR ---!>
dessert_title = df_test[df_test.TITLE.str.contains('DESSERT')].TITLE.value_counts().index
# mapper
df_test.TITLE.replace(to_replace=dessert_title,value='DESSERT PARLOUR',inplace=True)
#Binning BEVERAGE SHOP ---!>
bev_title = df_test[df_test.TITLE.str.contains('BEVERAGE')].TITLE.value_counts().index
# mapper
df_test.TITLE.replace(to_replace=bev_title,value='BEVERAGE SHOP',inplace=True)

In [493]:
#Binning BAR and PUB ---!>
bar_title = df_test[df_test.TITLE.str.contains('BAR|PUB')].TITLE.value_counts().index
# mapper
df_test.TITLE.replace(to_replace=bar_title,value='BAR_PUB',inplace=True)
#Binning BAKERY and CONFECTIONARY and SWEET SHOP ---!>
bakery_title = df_test[df_test.TITLE.str.contains('BAKERY|CONFECTIONERY|SWEET SHOP')].TITLE.value_counts().index
# mapper
df_test.TITLE.replace(to_replace=bakery_title,value='BAKERY_SWEETS',inplace=True)
#Binning MICROBRWERY, LOUNGE and CLUBS ---!>
lounge_title = df_test[df_test.TITLE.str.contains('MICROBREWERY|LOUNGE|CLUB')].TITLE.value_counts().index
# mapper
df_test.TITLE.replace(to_replace=lounge_title,value='LOUNGE_CLUB_MICROBREWERY',inplace=True)
#Binning FOOD COURT, FOOD TRUCK and KIOSK ---!>
food_court_title = df_test[df_test.TITLE.str.contains('FOOD COURT|FOOD TRUCK|KIOSK')].TITLE.value_counts().index
# mapper
df_test.TITLE.replace(to_replace=food_court_title,value='FOOD_COURT_TRUCK',inplace=True)
#Binning DHABA and MESS ---!>
dhaba_title = df_test[df_test.TITLE.str.contains('MESS|DHABA|BHOJANALYA')].TITLE.value_counts().index
# mapper
df_test.TITLE.replace(to_replace=dhaba_title,value='DHABA_MESS',inplace=True)
#Binning PAAN and MEAT SHOP ---!>
paan_title = df_test[df_test.TITLE.str.contains('PAAN')].TITLE.value_counts().index
# mapper
df_test.TITLE.replace(to_replace=paan_title,value='FOOD_COURT_TRUCK',inplace=True)

In [494]:
# Same goes for the test data as well

In [495]:
df['TITLE'].isna().sum()

0

In [496]:
# There are some values in the 'TITLE' column which are 'None'

In [497]:
df.TITLE.replace('None', np.nan, inplace = True)

In [498]:
df_test['TITLE'].replace('None', np.nan, inplace = True)

In [499]:
df.TITLE.unique()

array(['CASUAL DINING', 'QUICK BITES', 'DESSERT PARLOUR', 'CAFE',
       'LOUNGE_CLUB_MICROBREWERY', nan, 'BAR_PUB', 'BEVERAGE SHOP',
       'BAKERY_SWEETS', 'FOOD_COURT_TRUCK', 'DHABA_MESS', 'MEAT SHOP'],
      dtype=object)

In [500]:
df_test.TITLE.unique()

array(['CASUAL DINING', 'QUICK BITES', nan, 'DESSERT PARLOUR',
       'LOUNGE_CLUB_MICROBREWERY', 'BEVERAGE SHOP', 'BAR_PUB', 'CAFE',
       'BAKERY_SWEETS', 'DHABA_MESS', 'FOOD_COURT_TRUCK'], dtype=object)

In [501]:
# We have reduced the title to these categories

In [502]:
# North_Indian_Cuisine ---!>
df['n_indian_cuisine'] = df.CUISINES.mask(df.CUISINES.str.contains('North Indian'),1)
df['n_indian_cuisine'] = df['n_indian_cuisine'].mask(~df.CUISINES.str.contains('North Indian'),0)
#South_Indian_Cuisine ---!>
df['s_indian_cuisine'] = df.CUISINES.mask(df.CUISINES.str.contains('South Indian'),1)
df['s_indian_cuisine'] = df['s_indian_cuisine'].mask(~df.CUISINES.str.contains('South Indian'),0)
#Chinese_Cuisine ---!>
df['chinese_cuisine'] = df.CUISINES.mask(df.CUISINES.str.contains('Chinese'),1)
df['chinese_cuisine'] = df['chinese_cuisine'].mask(~df.CUISINES.str.contains('Chinese'),0)
#bakery_desserts_Cuisine ---!>
df['bakery_desserts_cuisine'] = df.CUISINES.mask(df.CUISINES.str.contains('Desserts|Ice Cream|Bakery'),1)
df['bakery_desserts_cuisine'] = df['bakery_desserts_cuisine'].mask(~df.CUISINES.str.contains('Desserts|Ice Cream|Bakery'),0)
#fast_food_Cuisine ---!>
df['fast_food_cuisine'] = df.CUISINES.mask(df.CUISINES.str.contains('Pizza|Burger|Fast Food|Street Food|Finger Food|Rolls|Sandwiches|BBQ|Warps|Momo'),1)
df['fast_food_cuisine'] = df['fast_food_cuisine'].mask(~df.CUISINES.str.contains('Pizza|Burger|Fast Food|Street Food|Finger Food|Rolls|Sandwiches|BBQ|Warps|Momo'),0)
#regional_Cuisine ---!>
df['regional_cuisine'] = df.CUISINES.mask(df.CUISINES.str.contains('Maharashtrian|di$|ni$|'),1)
df['regional_cuisine'] = df['regional_cuisine'].mask(~df.CUISINES.str.contains('Maharashtrian|di$|ni$|'),0)
#beverage_Cuisine ---!>
df['beverage_cuisine'] = df.CUISINES.mask(df.CUISINES.str.contains('Beverage|Cafe|Juices'),1)
df['beverage_cuisine'] = df['beverage_cuisine'].mask(~df.CUISINES.str.contains('Beverage|Cafe|Juices'),0)
#non_Indian_Cuisine ---!>
df['non_indian_cuisine'] = df.CUISINES.mask(df.CUISINES.str.contains('American|Italian|Mexican|Continental|French|Arabian|Continental|Seafood|Asian|Japanese|Vietnamese'),1)
df['non_indian_cuisine'] = df['non_indian_cuisine'].mask(~df.CUISINES.str.contains('American|Italian|Mexican|Continental|French|Arabian|Continental|Seafood|Asian|Japanese|Vietnamese'),0)

In [503]:
df_test['n_indian_cuisine'] = df_test.CUISINES.mask(df_test.CUISINES.str.contains('North Indian'),1)
df_test['n_indian_cuisine'] = df_test['n_indian_cuisine'].mask(~df_test.CUISINES.str.contains('North Indian'),0)
#South_Indian_Cuisine ---!>
df_test['s_indian_cuisine'] = df_test.CUISINES.mask(df_test.CUISINES.str.contains('South Indian'),1)
df_test['s_indian_cuisine'] = df_test['s_indian_cuisine'].mask(~df_test.CUISINES.str.contains('South Indian'),0)
#Chinese_Cuisine ---!>
df_test['chinese_cuisine'] = df_test.CUISINES.mask(df_test.CUISINES.str.contains('Chinese'),1)
df_test['chinese_cuisine'] = df_test['chinese_cuisine'].mask(~df_test.CUISINES.str.contains('Chinese'),0)
#bakery_desserts_Cuisine ---!>
df_test['bakery_desserts_cuisine'] = df_test.CUISINES.mask(df_test.CUISINES.str.contains('Desserts|Ice Cream|Bakery'),1)
df_test['bakery_desserts_cuisine'] = df_test['bakery_desserts_cuisine'].mask(~df_test.CUISINES.str.contains('Desserts|Ice Cream|Bakery'),0)
#fast_food_Cuisine ---!>
df_test['fast_food_cuisine'] = df_test.CUISINES.mask(df_test.CUISINES.str.contains('Pizza|Burger|Fast Food|Street Food|Finger Food|Rolls|Sandwiches|BBQ|Warps|Momo'),1)
df_test['fast_food_cuisine'] = df_test['fast_food_cuisine'].mask(~df_test.CUISINES.str.contains('Pizza|Burger|Fast Food|Street Food|Finger Food|Rolls|Sandwiches|BBQ|Warps|Momo'),0)
#regional_Cuisine ---!>
df_test['regional_cuisine'] = df_test.CUISINES.mask(df_test.CUISINES.str.contains('Maharashtrian|di$|ni$|'),1)
df_test['regional_cuisine'] = df_test['regional_cuisine'].mask(~df_test.CUISINES.str.contains('Maharashtrian|di$|ni$|'),0)
#beverage_Cuisine ---!>
df_test['beverage_cuisine'] = df_test.CUISINES.mask(df_test.CUISINES.str.contains('Beverage|Cafe|Juices'),1)
df_test['beverage_cuisine'] = df_test['beverage_cuisine'].mask(~df_test.CUISINES.str.contains('Beverage|Cafe|Juices'),0)
#non_Indian_Cuisine ---!>
df_test['non_indian_cuisine'] = df_test.CUISINES.mask(df_test.CUISINES.str.contains('American|Italian|Mexican|Continental|French|Arabian|Continental|Seafood|Asian|Japanese|Vietnamese'),1)
df_test['non_indian_cuisine'] = df_test['non_indian_cuisine'].mask(~df_test.CUISINES.str.contains('American|Italian|Mexican|Continental|French|Arabian|Continental|Seafood|Asian|Japanese|Vietnamese'),0)

In [504]:
# A restaurant can have multiple cuisines so we are creating a new column for each cuisine

In [505]:
df

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,n_indian_cuisine,s_indian_cuisine,chinese_cuisine,bakery_desserts_cuisine,fast_food_cuisine,regional_cuisine,beverage_cuisine,non_indian_cuisine
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200,1,0,0,0,0,1,0,0
1,CASUAL DINING,13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500,0,0,0,0,0,1,0,1
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800,1,0,1,0,0,1,0,0
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800,0,0,1,0,0,1,0,0
4,DESSERT PARLOUR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12685,QUICK BITES,13228,"North Indian, Burger, Kebab","12noon – 12midnight (Mon, Tue, Wed, Thu, Sun)...",Hyderabad,Gachibowli,3.8,546 votes,500,1,0,0,0,1,1,0,0
12686,CASUAL DINING,9686,"Goan, Continental","12noon – 1am (Mon-Fri),11am – 5pm, 7pm – 1am...",Mumbai,Bandra Kurla Complex,4.3,1214 votes,1800,0,0,0,0,0,1,0,1
12687,LOUNGE_CLUB_MICROBREWERY,11133,"Finger Food, Continental, Asian, Chinese",12noon – 12:30AM (Mon-Sun),Navi Mumbai,Vashi,4.0,608 votes,1300,0,0,1,0,1,1,0,1
12688,CASUAL DINING,6134,"North Indian, South Indian, Chinese, Street Food",6am – 10:45pm (Mon-Sun),Chennai,Maduravoyal,3.5,32 votes,400,1,1,1,0,1,1,0,0
12689,CASUAL DINING,6430,"North Indian, Chinese",12:30pm – 11pm (Mon-Sun),Hyderabad,Vanasthalipuram,3.4,677 votes,600,1,0,1,0,0,1,0,0

In [506]:
# For CITY COLUMN we will performed similiar steps as we did for TITLE COLUMN

In [507]:
# get the top 10 most occurring cities.
top10_cities = ['Chennai', 'Bangalore', 'Hyderabad', 'Mumbai', 'New Delhi', 'Kochi',
       'Gurgaon', 'Noida', 'Ghaziabad', 'Thane']
for city in top10_cities:
    print(city)
    temp_city = df[df.CITY.str.contains(city,na=False)].CITY.value_counts().index
    print(temp_city)
    # mapper
    df.CITY.replace(to_replace=temp_city,value=city,inplace=True)
                            
other_cities = df[~df.CITY.str.contains('Chennai|Bangalore|Hyderabad|Mumbai|New Delhi|Kochi|Gurgaon|Noida|Ghaziabad|Thane',na=False)].CITY.value_counts().index
# mapper
df.CITY.replace(to_replace=other_cities,value='Others',inplace=True)

Chennai
Index(['Chennai', 'Chennai.', 'Chennai Teynampet', 'Chennai Mahabalipuram',
       'Chennai- 600107', 'Chennai - 34 Landmark - Near Loyola College',
       'Chennai Chrompet', 'Chennai-40', 'Chennai Opposite 5C Bus stand',
       'Chennai (Bang Opposite Indian Bank)', 'ECR NEELANKARAI Chennai 600115',
       'Chennai Thousand Lights', 'Chennai Thuraipakkam', 'Chennai Perungudi',
       'Mogappair. Chennai', 'Chennai opp: Vasanth & co', 'Chennai Kovalam',
       'Chennai Padur', 'Chennai - 600040', 'Chennai 600034.',
       'Chennai. (Near Hotel Matshya)'],
      dtype='object')
Bangalore
Index(['Bangalore', 'Bangalore.',
       'CPR layout harlur main road opposite to ozone ever green apartment Bangalore -',
       'Bangalore Road', 'Malleshwaram Bangalore', 'Bangalore 560076',
       'Phase 1 Bangalore', 'Bangalore land mark above mahaveer hard ware',
       'Bangalore - 560103', 'Bangalore Koramangala 7th Block',
       'Bangalore-560066', 'BTM Bangalore',
       'Banaswadi (Next to Indian Bank) Bangalore', 'Bangalore - 560076',
       'Whitefield Bangalore', 'JP Nagar Bangalore',
       '5th Main Teachers Colony Koramangala Block 1 Bangalore 560034',
       'Kadubesanahalli Bangalore'],
      dtype='object')
Hyderabad
Index(['Hyderabad', 'Hyderabad.', 'Hyderabad Behind Vacs Pastries',
       'Hyderabad neerus emporium.', 'Hyderabad-500032',
       'Near Santosh Banjara Hyderabad', 'Gachibowli Hyderabad',
       'Begumpet Hyderabad', 'Hyderabad Manikonda'],
      dtype='object')
Mumbai
Index(['Mumbai', 'Navi Mumbai', 'Mumbai.', 'West Mumbai', 'Mumbai - 400007',
       'Navi Mumbai.', 'Mumbai Andheri East', 'Mumbai Dombivali East',
       'Mumbai - 400013', 'Mumbai Mahim', 'Andheri west Mumbai',
       'Mumbai Chakala', 'Jogeshwari (w) Mumbai', 'Mumbai - 80', 'East Mumbai',
       'Navi-Mumbai', 'Mumbai This is a Delivery & Take-away Restaurant only.',
       'Thane Mumbai', 'Khar Mumbai'],
      dtype='object')
New Delhi
Index(['New Delhi', 'New Delhi.', 'Chander Nagar New Delhi',
       'New Delhi-110024', 'Greater Kailash 2 New Delhi',
       'New Delhi..Near by SBI bank', 'New Delhi 110075',
       'Dist. Center New Delhi'],
      dtype='object')
Kochi
Index(['Kochi', 'Kochi Palarivattom', 'p.o Kochi', 'Kochi Ravipuram',
       'Kochi Elamkulam', 'Ponnuruni Kochi', 'Kochi Vyttila',
       'Kochi Chullickal', 'Kochi-683101', 'Kochi-18', 'Kochi Kakkanad',
       'Kochi-16', 'Kochi International Airport VIP Road', 'Fort Kochi',
       'Kochi Aluva 102', 'Kochi.'],
      dtype='object')
Gurgaon
Index(['Gurgaon', 'Gurgaon Haryana India', 'Gurgaon Haryana'], dtype='object')
Noida
Index(['Noida', 'Greater Noida', 'Sector 51 Noida', 'Near Sector 110 Noida'], dtype='object')
Ghaziabad
Index(['Ghaziabad', 'Vaishali Ghaziabad'], dtype='object')
Thane
Index(['Thane', 'Thane West', 'Thane (W)'], dtype='object')

In [508]:
# get the top 10 most occurring cities.
top10_cities = ['Chennai', 'Bangalore', 'Hyderabad', 'Mumbai', 'New Delhi', 'Kochi',
       'Gurgaon', 'Noida', 'Ghaziabad', 'Thane']
for city in top10_cities:
    print(city)
    temp_city = df_test[df_test.CITY.str.contains(city,na=False)].CITY.value_counts().index
    print(temp_city)
    # mapper
    df_test.CITY.replace(to_replace=temp_city,value=city,inplace=True)
                            
other_cities = df_test[~df_test.CITY.str.contains('Chennai|Bangalore|Hyderabad|Mumbai|New Delhi|Kochi|Gurgaon|Noida|Ghaziabad|Thane',na=False)].CITY.value_counts().index
# mapper
df_test.CITY.replace(to_replace=other_cities,value='Others',inplace=True)

Chennai
Index(['Chennai', 'Chennai.', 'Sholinganallur. Chennai',
       'Chennai (Above Bombay Brasserie)', 'Chennai 37', 'Chennai 40',
       'Chennai 600040', 'Chennai Velachery', 'Chennai-600008',
       'Balavinayagar Nagar Chennai', 'T-Nagar Chennai', 'Chennai Injambakkam',
       'Chennai Teynampet', 'Chennai - 600018'],
      dtype='object')
Bangalore
Index(['Bangalore', 'Bangalore - 560095', 'Bangalore.'], dtype='object')
Hyderabad
Index(['Hyderabad', 'Hyderabad.', 'Mehdipatnam Hyderabad',
       'Hyderabad.Star hypermarket opposite side Service road'],
      dtype='object')
Mumbai
Index(['Mumbai', 'Navi Mumbai', 'Vasai Mumbai', 'Mira Road Thane Mumbai',
       'Mumbai 400015', 'Mumbai 400070', 'Mohammad Ali Road Mumbai',
       'Virar Mumbai', 'Navi Mumbai.', 'Mumbai Veera Desai Area',
       'Mumbai Ulhasnagar', 'Jogeshwari West Mumbai', 'Mumbai Mumbra',
       'Kurla Mumbai', 'Borivali (W) Mumbai: 400 092.'],
      dtype='object')
New Delhi
Index(['New Delhi', 'India Gate New Delhi',
       'Greater Kailash 1 (GK 1) New Delhi', 'New Delhi 110011'],
      dtype='object')
Kochi
Index(['Kochi', 'Kochi Ravipuram', 'Kochi Panampilly Nagar',
       'Kochi International Airport VIP Road'],
      dtype='object')
Gurgaon
Index(['Gurgaon'], dtype='object')
Noida
Index(['Noida', 'Greater Noida', 'Sector-6 Noida 201301', 'Noida Extention'], dtype='object')
Ghaziabad
Index(['Ghaziabad'], dtype='object')
Thane
Index(['Thane West', 'Thane', 'Thane West Thane West'], dtype='object')

In [509]:
df.CITY.value_counts()

Chennai      2199
Bangalore    2167
Mumbai       1907
Hyderabad    1833
New Delhi    1329
Kochi        1297
Others        968
Gurgaon       381
Noida         244
Thane         150
Ghaziabad     103
Name: CITY, dtype: int64

In [510]:
df_test.CITY.value_counts()

Chennai      695
Bangalore    688
Mumbai       659
Hyderabad    644
Kochi        476
New Delhi    436
Others       308
Gurgaon      145
Noida         72
Thane         43
Ghaziabad     30
Name: CITY, dtype: int64

In [511]:
# We will drop the LOCALITY column

In [512]:
df.drop(columns = ['LOCALITY'], inplace = True)

In [513]:
df_test.drop(columns = ['LOCALITY'], inplace = True)

In [514]:
df

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,RATING,VOTES,COST,n_indian_cuisine,s_indian_cuisine,chinese_cuisine,bakery_desserts_cuisine,fast_food_cuisine,regional_cuisine,beverage_cuisine,non_indian_cuisine
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,3.6,49 votes,1200,1,0,0,0,0,1,0,0
1,CASUAL DINING,13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,4.2,30 votes,1500,0,0,0,0,0,1,0,1
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,3.8,221 votes,800,1,0,1,0,0,1,0,0
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,4.1,24 votes,800,0,0,1,0,0,1,0,0
4,DESSERT PARLOUR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,3.8,165 votes,300,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12685,QUICK BITES,13228,"North Indian, Burger, Kebab","12noon – 12midnight (Mon, Tue, Wed, Thu, Sun)...",Hyderabad,3.8,546 votes,500,1,0,0,0,1,1,0,0
12686,CASUAL DINING,9686,"Goan, Continental","12noon – 1am (Mon-Fri),11am – 5pm, 7pm – 1am...",Mumbai,4.3,1214 votes,1800,0,0,0,0,0,1,0,1
12687,LOUNGE_CLUB_MICROBREWERY,11133,"Finger Food, Continental, Asian, Chinese",12noon – 12:30AM (Mon-Sun),Mumbai,4.0,608 votes,1300,0,0,1,0,1,1,0,1
12688,CASUAL DINING,6134,"North Indian, South Indian, Chinese, Street Food",6am – 10:45pm (Mon-Sun),Chennai,3.5,32 votes,400,1,1,1,0,1,1,0,0
12689,CASUAL DINING,6430,"North Indian, Chinese",12:30pm – 11pm (Mon-Sun),Hyderabad,3.4,677 votes,600,1,0,1,0,0,1,0,0

In [515]:
df_test

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,RATING,VOTES,n_indian_cuisine,s_indian_cuisine,chinese_cuisine,bakery_desserts_cuisine,fast_food_cuisine,regional_cuisine,beverage_cuisine,non_indian_cuisine
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,4.3,564 votes,1,0,1,0,0,1,0,0
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,4.2,61 votes,1,1,0,0,1,1,0,0
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,3.8,350 votes,1,0,1,0,0,1,0,1
3,NaN,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Others,3.8,1445 votes,0,0,0,0,0,1,0,0
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,3.6,23 votes,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4226,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,3.9,287 votes,1,0,1,0,0,1,0,0
4227,NaN,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,4.3,469 votes,1,0,0,0,0,1,0,0
4228,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Others,3.7,53 votes,1,0,0,0,0,1,0,1
4229,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,-,NaN,0,0,0,0,1,1,1,0
4230,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),Others,3.7,63 votes,0,0,0,0,0,1,0,0

In [516]:
# VOTES COLUMN

In [517]:
df.VOTES = df.dropna().VOTES.apply(lambda x: float(x[:2]))

In [518]:
df_test.VOTES = df_test.dropna().VOTES.apply(lambda x: float(x[:2]))

In [519]:
df.VOTES

0        49.0
1        30.0
2        22.0
3        24.0
4        16.0
         ...
12685    54.0
12686    12.0
12687    60.0
12688    32.0
12689    67.0
Name: VOTES, Length: 12690, dtype: float64

In [520]:
df_test.VOTES

0       56.0
1       61.0
2       35.0
3        NaN
4       23.0
        ...
4226    28.0
4227     NaN
4228    53.0
4229     NaN
4230    63.0
Name: VOTES, Length: 4231, dtype: float64

In [521]:
df['RATING'] = df['RATING'].replace(['-' ,'NEW'],np.nan)
df.RATING = df.RATING.astype(float)

In [522]:
df_test['RATING'] = df_test['RATING'].replace(['-' ,'NEW'],np.nan)

In [523]:
df_test.RATING = df_test.RATING.astype(float)

In [524]:
df.isna().sum()

TITLE                      1003
RESTAURANT_ID                 0
CUISINES                      0
TIME                          0
CITY                        112
RATING                     1204
VOTES                      2097
COST                          0
n_indian_cuisine              0
s_indian_cuisine              0
chinese_cuisine               0
bakery_desserts_cuisine       0
fast_food_cuisine             0
regional_cuisine              0
beverage_cuisine              0
non_indian_cuisine            0
dtype: int64

In [525]:
df_test.isna().sum()

TITLE                      284
RESTAURANT_ID                0
CUISINES                     0
TIME                         0
CITY                        35
RATING                     402
VOTES                      674
n_indian_cuisine             0
s_indian_cuisine             0
chinese_cuisine              0
bakery_desserts_cuisine      0
fast_food_cuisine            0
regional_cuisine             0
beverage_cuisine             0
non_indian_cuisine           0
dtype: int64

In [526]:
from sklearn.impute import SimpleImputer

# Getting the numerical and categorical features
cat_var = df.select_dtypes(include=['object']).columns.tolist()
num_var = df.select_dtypes(exclude=['object']).columns.tolist()

# Impute missing values for numerical variables
num_imputer = SimpleImputer(strategy='mean')
df[num_var] = num_imputer.fit_transform(df[num_var])

# Impute missing values for categorical variables
cat_imputer = SimpleImputer(strategy='most_frequent')
df[cat_var] = cat_imputer.fit_transform(df[cat_var])

In [527]:
from sklearn.impute import SimpleImputer

# Getting the numerical and categorical features
cat_var = df_test.select_dtypes(include=['object']).columns.tolist()
num_var = df_test.select_dtypes(exclude=['object']).columns.tolist()

# Impute missing values for numerical variables
num_imputer = SimpleImputer(strategy='mean')
df_test[num_var] = num_imputer.fit_transform(df_test[num_var])

# Impute missing values for categorical variables
cat_imputer = SimpleImputer(strategy='most_frequent')
df_test[cat_var] = cat_imputer.fit_transform(df_test[cat_var])

In [528]:
df.isna().sum()

TITLE                      0
RESTAURANT_ID              0
CUISINES                   0
TIME                       0
CITY                       0
RATING                     0
VOTES                      0
COST                       0
n_indian_cuisine           0
s_indian_cuisine           0
chinese_cuisine            0
bakery_desserts_cuisine    0
fast_food_cuisine          0
regional_cuisine           0
beverage_cuisine           0
non_indian_cuisine         0
dtype: int64

In [529]:
df_test.isna().sum()

TITLE                      0
RESTAURANT_ID              0
CUISINES                   0
TIME                       0
CITY                       0
RATING                     0
VOTES                      0
n_indian_cuisine           0
s_indian_cuisine           0
chinese_cuisine            0
bakery_desserts_cuisine    0
fast_food_cuisine          0
regional_cuisine           0
beverage_cuisine           0
non_indian_cuisine         0
dtype: int64

In [530]:
df_cat_var= pd.get_dummies(df[cat_var])
df = pd.concat([df, df_cat_var], axis=1)

In [531]:
df_cat_var= pd.get_dummies(df[cat_var])
df_test = pd.concat([df_test, df_cat_var], axis=1)

In [106]:
df.drop(columns=['CUISINES_0', 'CUISINES_1', 'CUISINES_2', 'CUISINES_3', 'CUISINES_4',
                         'CUISINES_5', 'CUISINES_6', 'CUISINES_7', 'CUISINES_8', 'CUISINES_9',
                         'CUISINES_10', 'CUISINES_11', 'CUISINES_12'], inplace=True)

In [107]:
df.shape

(12690, 39)

In [108]:
df = df.drop(columns=['RESTAURANT_ID'], axis=1)

In [110]:
df = df.drop(columns=['COST'], axis=1)

In [113]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, df_.COST, test_size = 0.2, random_state = 42)

In [114]:
x_train.shape

(10152, 37)

In [115]:
y_train.shape

(10152,)

In [117]:
x_test.shape

(2538, 37)

In [118]:
y_test.shape

(2538,)

In [120]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import  KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
# import the evaluation metrics dependenices
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score,mean_squared_error

In [124]:
#let's create the models dataframe
models = [LinearRegression(),Ridge(alpha=0.001),Lasso(alpha=0.0003),ElasticNet(alpha=0.0001),SVR(),DecisionTreeRegressor(),RandomForestRegressor(),GradientBoostingRegressor(),AdaBoostRegressor()]
model_names = 'Linear Ridge Lasso ElasticNet SVR Descision_Tree Random_Forest Gradient_Boost Ada_Boost'.split()
models_df = pd.DataFrame(columns=['Model','MSE','R2','meanCV'])
for model,model_names in zip(models,model_names):
    print(model)
    
    model.fit(x_train,y_train)
    
    y_preds = model.predict(x_test)
    
    mse = mean_squared_error(y_test,y_preds)
    r2 = r2_score(y_test,y_preds)
    avgCV = np.mean(cross_val_score(model,df,df_.COST,scoring='r2'))
    
    
    models_df = models_df.append({'Model':model_names,'MSE':mse,'R2':r2,'meanCV':avgCV},ignore_index=True)

LinearRegression()
Ridge(alpha=0.001)
Lasso(alpha=0.0003)
ElasticNet(alpha=0.0001)
SVR()
DecisionTreeRegressor()
RandomForestRegressor()
GradientBoostingRegressor()
AdaBoostRegressor()

In [125]:
models_df

            Model            MSE        R2    meanCV
0          Linear  236012.216332  0.344228  0.341608
1           Ridge  236011.561427  0.344230  0.341610
2           Lasso  236011.326239  0.344231  0.341610
3      ElasticNet  236009.474219  0.344236  0.341613
4             SVR  383988.644308 -0.066932 -0.076579
5  Descision_Tree  405896.658130 -0.127804 -0.099507
6   Random_Forest  192212.237674  0.465929  0.480132
7  Gradient_Boost  182456.386121  0.493036  0.485918
8       Ada_Boost  408829.594074 -0.135954 -0.447215

In [ ]:
# SO WE SELECTED THE GRADIENT BOOSTING REGRESSOR AS OUR BEST MODEL AS IT HAS